#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.name-3d {
  display: inline-block;
  color: transparent;
  background: linear-gradient(to right, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;

  transform-style: preserve-3d;
  animation: floatName 3s ease-in-out infinite;
}

@keyframes floatName {
  0% {
    transform: perspective(300px) rotateX(0deg) translateY(0);
  }
  50% {
    transform: perspective(300px) rotateX(15deg) translateY(-5px);
  }
  100% {
    transform: perspective(300px) rotateX(0deg) translateY(0);
  }
}
